@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.App {
  text-align: center;
}
.nav{
  height: 5rem;
  padding-top: 10px;
  width: 100%;
}
.list{
  float: right;
  margin-right: 2rem;
}
.list-item {
  display: inline-block;
  margin: 0.25rem;
  font-family: 'Poppins', 'sans-serif';
}

.list-item a{
  text-decoration: none;
    padding: 10px;
    color : #9DA6BA;
    letter-spacing : 1px;
    -webkit-transition: all ease 0.2s;
    line-height: 36px;
    padding: 0 22px;
}

.list-item a:hover{
  color: red;
}